@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,500italic&display=swap&subset=cyrillic-ext');

@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,600,900&display=swap&subset=cyrillic-ext');

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Regular.woff2') format('woff2'),
        url('../fonts/Helvetica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Donpoligrafbum';
    src: url('../fonts/DonpoligrafbumBold.woff2') format('woff2'),
        url('../fonts/DonpoligrafbumBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}